// Global
html {
  height: 100vh;
  width: 100%;
  justify-content: center;
  scroll-behavior: smooth;
}
body {
  background: $off-white;
  font-family: $font-body;
  font-size: $m-size;
  text-align: center;
}
.section-header {
  justify-content: center;
  margin: auto;
  padding: $m-size 0;
  font-size: $m-font;
}
