// Global
html {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  scroll-behavior: smooth;
}

body {
  background: $tan;
  font-family: Futura Md BT, Arial, sans-serif;
  font-size: $m-size;
  text-align: center;
}
.home {
  margin: $xs-size;
  text-align: center;
  font-family: Futura Md LT, Arial, sans-serif;
}
.title {
  font-size: $xl-size;
}

.subtitle {
  font-size: $m-size;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

// Nav.js
nav {
  background: $off-white;
  font-size: $s-size;
  padding: $xs-size;
  color: $off-black;
  justify-content: center;
  border-bottom: 3px solid $brown;

  a {
    padding: $m-size;
  }

  .is-active {
    font-weight: bold;
  }
}
.links {
  float: right;

  img {
    width: 30px;
  }
}

// HomePage
.home {
  height: 100vh;
  align-items: center;
  background: $tan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $xs-size;

  i {
    width: 50%;
    margin-top: $xs-size;
  }
}

// Portfolio Page
.projects {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 100%;
  width: 100vw;
  padding-bottom: $m-size;

  .project-container {
    max-width: 30vw;
    max-height: 30vh;
    margin-bottom: 10px;
    text-align: center;
    color: $off-black;

    img {
      max-width: 30vw;
      max-height: 25vh;
    }

    .desc {
      display: none;
      color: $off-black;
      text-align: center;
    }

    img:hover + .desc {
      display: flex;
    }
  }
}

// PortfolioItemPage
.modal {
  top: 15%;
  height: 60vh;
}

// AboutPage
.about {
  width: 100vw;
  height: 100%;
}
.about-wrapper {
  display: grid;
  grid-template-columns: 20% auto;
  grid-gap: $s-size;
  background-color: $tan;
  justify-content: center;
  font-size: $m-size;
}
.about-item {
  text-align: left;
  padding: $s-size;
  margin: $s-size;
}
.item1 {
  grid-column: 1;
  grid-row: 1;
  justify-content: center;
  background: $brown;
}
.img-me {
  width: $xxl-size;
  margin: auto;
}
.img-desc {
  width: $l-size;
  margin-right: $xs-size;
}
.item2 {
  grid-column: 2;
  grid-row: 1;
  justify-content: center;
  text-align: left;
  background: $off-white;
}
.item3 {
  grid-column: 3;
  grid-row: 1;
  justify-content: right;
  background: $brown;
}
.item4 {
  grid-column: 1 / 4;
  grid-row: 2;
  background: $off-white;

  p {
    display: inline-block;
    margin-top: $s-size;
  }

  .skill {
    display: inline-block;
    border: 1px solid $off-black;
    border-radius: 8px;
    margin-right: $s-size;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    font-size: $s-size;
    line-height: $s-size;
    padding: 5px 10px;
  }
  .design {
    border-color: $brown;
  }
}
.logos {
  width: 100vw;
}

// ContactPage
.contact {
  height: 100vh;
  width: 100vw;
  background: pink;
}

.form-container {
  margin: auto;
  width: 45%;
  padding: 12px;
}
