// Colors
$off-black: #20222b;
$off-white: #fffff8;
$tan: #f6f7dd;
$off-tan: #d8d9b7;
$brown: #a67c5b;
$almond: #edd8c1;
$gray: #707070;
$deep-blue: #5b85a6;
$shark-blue: #88a2bc;

// Spacing
$xxs-size: 0.3rem;
$xs-size: 0.7rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 10rem;
$desktop-breakpoint: 45rem;

$margin-w: 15vw;

// Fonts
$font-body: "Nunito", Arial, sans-serif;
$font-title: Helvetica, Arial, sans-serif;
$font-article: "Montserrat", sans-serif;
$s-font: 100;
$m-font: 300;
$l-font: 500;
$xl-font: 900;
