// Colors
$off-black: #20222b;
$off-white: #fffff8;
$tan: #f6f7dd;
$brown: #a67c5b;
$gray: #707070;

// Spacing
$xxs-size: 0.3rem;
$xs-size: 0.7rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 10rem;
$desktop-breakpoint: 45rem;

// Fonts
$font-title: Helvetica, Arial, sans-serif;
